In [31]:
import pandas as pd
import numpy as np
from sklearn import tree

In [32]:
df = pd.read_csv("https://raw.githubusercontent.com/tonimoeckel/EADataScience/master/EA11/split_buy_pc_normal.csv",delimiter=';')
df

    age  income  student  credit_rating  buys
0     0       2        0              1     0
1     2       1        1              1     1
2     0       1        1              2     1
3     1       1        0              2     1
4     1       2        1              1     1
5     2       1        0              2     0
6     0       1        0              2     0
7     0       0        0              1     0
8     0       0        0              2     0
9     1       0        1              1     1
10    2       1        1              2     1
11    0       2        0              2     0
12    1       2        0              2     1
13    1       2        0              1     1
14    2       1        0              1     1
15    2       0        1              1     1
16    2       0        1              2     0
17    1       0        1              2     1
18    0       1        0              1     0
19    0       0        1              1     1

In [33]:
customer_classifier = tree.DecisionTreeClassifier()
customer_classifier.fit(df[["age", "income", "student", "credit_rating"]], df["buys"])

customer_classifier

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [48]:
# data set 1st observation
test_features_0 = [[df["age"][0], df["income"][0], df["student"][0], df["credit_rating"][0]]]
predicted_features_0 = customer_classifier.predict(test_features_0)
print('Actual buy: {}; Predicted buy: {}'.format(df["buys"][0], predicted_features_0[0]))

Actual buy: 0; Predicted by: 0

In [51]:
# data set 2nd observation
test_features_1 = [[df["age"][1], df["income"][1], df["student"][1], df["credit_rating"][1]]]
predicted_features_1 = customer_classifier.predict(test_features_1)
print('Actual buy: {}; Predicted buy: {}'.format(df["buys"][1], predicted_features_1[0]))

Actual buy: 1; Predicted buy: 1

In [52]:
with open("customer_classifier.txt", "w") as f:
    f = tree.export_graphviz(customer_classifier, out_file=f)